st.markdown("""
<style>
.block-container {
        padding-top: 1.5rem !important;
    }
body {
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    color: #ffffff;
    font-family: 'Courier New', monospace;
}
h1, h2, h3, h4 {
    color: #00f6ff;
    text-shadow: 0px 0px 10px #00f6ff;
}
.stButton>button {
    background: linear-gradient(90deg,#ff00cc,#3333ff);
    color: #ffffff;
    border: 2px solid #00f6ff;
    border-radius: 12px;
    font-weight: bold;
    transition: all 0.3s ease;
}
.stButton>button:hover {
    box-shadow: 0 0 20px #00f6ff, 0 0 40px #ff00cc;
    transform: scale(1.05);
}
.stTextInput>div>input, .stNumberInput>div>input {
    background-color: rgba(0,0,0,0.2);
    color: #ffffff;
    border: 2px solid #00f6ff;
    border-radius: 8px;
    padding: 5px 10px;
    font-weight: bold;
}
input[type="file"]::file-selector-button {
    background-color: #0f0c29;
    color: #00f6ff;
    border: 2px solid #00f6ff;
    border-radius: 12px;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
input[type="file"]::file-selector-button:hover {
    background-color: #00f6ff;
    color: #0f0c29;
    border: 2px solid #00f6ff;
}
.flash-box {
    padding: 15px;
    border: 1px solid #00f6ff;
    border-radius: 10px;
    background: rgba(0,246,255,0.1);
    box-shadow: 0 0 20px #00f6ff;
    text-align: justify;
    max-width: 700px;
    margin: 10px auto;
    line-height: 1.5;
    color: #00f6ff;
    font-family: 'Courier New', monospace;
    font-weight: normal;
}
.side-alert {
    padding: 15px;
    border-radius: 10px;
    background: rgba(0,246,255,0.1);
    border: 1px solid #00f6ff;
    box-shadow: 0 0 20px #00f6ff;
    color: #00f6ff;
    font-weight: normal;
    text-align: left;
    margin-top: 20px;
    font-family: 'Courier New', monospace;
}

</style>
""", unsafe_allow_html=True)
